<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
  <title>Water Quality Index Prediction</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body style="background-color: #214269">
  <center>
    <div style="app-header">
      <h2>Water Quality Index Estimator</h2>
      <p>Estimation of Water Quality Index.</p>
      <p>Fill out the form to see an estimated WQI.</p>
    </div>
  </center>
  <form class="text-center" style="border-style: solid; color: #757575; margin-bottom:10px" method="POST" action="/predict">
    <table width="100%">
      <tbody>
          <tr>
            <td>
              <div class="form-field ">{{ form.Dissolved_Oxygen.label }} {{ form.Dissolved_Oxygen }}</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-field ">{{ form.pH.label }} {{ form.pH }}</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-field ">{{ form.Total_Dissolved_Solids.label }} {{ form.Total_Dissolved_Solids }}</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-field ">{{ form.Temperature.label }} {{ form.Temperature }}</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-field ">{{ form.Turbidity.label }} {{ form.Turbidity }}</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-field ">{{ form.Conductivity.label }} {{ form.Conductivity }}</div>
            </td>
          </tr>
      </tbody>
    </table>
    <input id="submit" style="margin-bottom: 10px;" name="submit" type="submit" onclick="startSpinner()" value="Predict">
    
    <br>
  </form>

  <div class="d-flex justify-content-center">
    <div id="loader" style="color:black; display: none;" class="spinner-border"></div>
  </div>
  <div class="output-container">
    <center>
      <div id="output">
        <h5 id="a">Predicted Water Quality Index </h5>
        <h3 id="b">{{ form.abc }}</h3>
        <h3 id="b">Percent{{ form.perc }}%</h3>
      </div>
    </center>
  </div>

  <center>
    <img src="static/diagram.png" alt="arch-diagram">
  </center>

  <script>

window.onload = function exampleFunction() { 
  
  // var output = document.getElementById("output");
  // output.style.display = "none"
} 

    function startSpinner() {
      var x = document.getElementById("loader");
      x.style.display = "block";
      var output = document.getElementById("output");
      output.style.display = "none"
      setTimeout(function () {
        var y = document.getElementById("output");
        var x = document.getElementById("loader");
        var a = document.getElementById("a");
        var b = document.getElementById("b");
        x.style.display = "none";
        y.style.display = "block"
        a.style.display = "block"
        b.style.display = "block"
      }, 3000);

    }
  </script>

</body>

</html>