
.text-center {
  border-style: solid;
  text-align: center;
  color: ivory;
  margin-bottom: 10px;
}
/* Add a black background color to the top navigation */

#age{
  margin-top: 10px;
}

#submit {
  font-size: 1.06rem;
  font-weight: bold;
  color: brown;
  /* color: pink; */
}

.form-field {
  font-size: 1.06rem;
  color: mediumvioletred;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-field-2 {
  font-size: 1.2rem;
  color: mediumvioletred;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 10px;
}

.form-field-3 {
  font-size: 1.2rem;
  color: mediumvioletred;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-field span {
  background-color: lightyellow;
}

body {
  /* background-color: #fff; */
  /* background-color: tomato; */
  background-image: url(desert-mirage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-family: sans-serif;
  color: #333333;
  font: 14px Helvetica, sans-serif
  box-sizing: border-box;
}

 /* html{
    /* background: tomato; */
} */

#page {
  margin: 20px;
  background-color: #fff;
}

.container {
  height: inherit;
  padding-bottom: 20px;
}

#content {
  background-color: lightcyan;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  box-shadow: 1px 7px 7px 1px rgba(0, 0, 0, 0.4);
  display: block;
}

#content:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.header {
  padding: 20px;
}

.header h1 {
  padding-bottom: 0.3em;
  /* color: #008080; */
  color: blue;
  font-size: 45px;
  font-weight: bold;
  font-family: Garmond, "sans-serif";
  text-align: center;
  margin: 0;
}

.header h1 span {
  font-weight: bold;
  font-family: Garmond, "sans-serif";
  /* color: #000; */
  color: mediumvioletred;
}

h2 {
  padding-bottom: 0.2em;
  border-bottom: 1px solid #eee;
  margin-top: 2px;
  text-align: center;
  color: tomato;
  background-color: lightcyan;
}

.header h3 {
  padding-top: -5px;
  padding-left: 50px;
  font-weight: bold;
  font-family: Arial, "sans-serif";
  font-size: 17px;
  /* font-size: 1.2rem; */
  /* color: #b6b6b6; */
  color: black;
  margin: -25px 0 -5px 0;
  text-align: center;
}

.box380 {
  width: 380px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 1em 1em 1em 1em;
  box-shadow: 1px 7px 7px 1px rgba(0, 0, 0, 0.4);
  background: ivory;
  /* background: ivory; */
}

.box-full {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 1em 1em 1em 1em;
  box-shadow: 1px 7px 7px 1px rgba(0, 0, 0, 0.4);
  background: ivory;
  margin: 20px;
  width: 840px;
}

.left {
  float: left;
  clear: left;
}

.right {
  float: right;
  clear: right;
}

@media (max-width: 494px) {
  #page {
    width: inherit;
    margin: 5px auto;
  }
  #content {
    padding: 1px;
  }
  .box380 {
    margin: 8px 8px 12px 8px;
    padding: 10px;
    width: inherit;
    float: none;
  }
  .box-full {
    margin: 8px 8px 12px 8px;
    padding: 10px;
    width: inherit;
    float: none;
  }
}

@media (min-width: 494px) and (max-width: 980px) {
  #page {
    width: 465px;
    margin: 0 auto;
  }
  .box380 {
    width: 380px;
  }
  .box-full {
    width: 380px;
  }
}

@media (min-width: 980px) {
  #page {
    width: 930px;
    margin: 0 auto;
  }
}

.sensors-container {
  margin-left: 20%;
}

.sensors {
  margin-bottom: 5px;
}

.sensor {
  margin: 12px 0px;
  font-size: 1.2rem;
}

.sensor-labels {
  font-size: 1.03rem;
  vertical-align: middle;
  padding-bottom: 15px;
  color: mediumvioletred;
}


hr {
  height: 15px;
  color: #eee;
  /* background-color: #eee; */
  border: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: lightcyan;
  color: brown;
  font-size: 1.14rem;
  /* border: 1px solid black; */
  padding: 8px;
}

td {
  /* background-color:ghostwhite; */
  background-color: ghostwhite;
  color: blue;
  /* border: 1px solid black; */
  padding: 8px;
}

tr:nth-child(2n + 2) {
  background-color: black;
}

table#logsTable {
  table-layout: fixed;
}

table#logsTable td {
  white-space: normal;
  word-wrap: break-word;
}
